[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
psycopg2-binary = "*"
numpy = "*"
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
pytest-django = "*"
pytest-cov = "*"
celery = "*"
redis = "*"
coreapi = "*"
pyyaml = "*"
gunicorn = "*"

[requires]
python_version = "3.6.5"
